body {
  font-family: "Arial", "Meiryo", sans-serif
  font-size: 20px;
  text-align: center;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 1px 2px 3px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

h2.text-pink {
  color: rgb(255, 192, 203);
}

h2.text-skyblue {
  color: skyblue;
}

#basic p {
  font-weight: bold;
}
